.card img {
    height: 200px;
    object-fit: cover;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.nomor {
    padding: 5px;
    border-radius: 50%;
    background-color: #0d6efd;
    color: white;
    text-align: center;
    margin-right: 20px;
}
.arti{
    margin-left: 30px;
}